.foxyeti {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  color: #000;
}

a[href] {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

a[href].link {
  text-decoration: underline;
}

.foxyeti-user-entry, .foxyeti-flex-entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 25px;
  padding-top: 5px;
}

.foxyeti-indent {
  margin-left: 25px;
}

.foxyeti-user-entry {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.foxyeti-user-entry.foxyeti-header>div {
  font-weight: bold;
}

.foxyeti-user-entry>div, .foxyeti-flex-entry>div {
  flex-basis: 12em;
  text-align: center;
}

.foxyeti-switch {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.foxyeti-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.foxyeti-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.foxyeti-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked+.foxyeti-slider {
  background-color: #2196F3;
}

input:focus+.foxyeti-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.foxyeti-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */

.foxyeti-slider.round {
  border-radius: 17px;
}

.foxyeti-slider.round:before {
  border-radius: 50%;
}

#serialized_settings {
  resize: vertical;
}