.foxyeti-fit-to-screen, .foxyeti-fit-to-screen>* {
    height: auto !important;
    width: auto !important;
    max-width: calc(100% - 160px) !important;
}

.foxyeti-link {
    text-decoration: underline;
    cursor: pointer;
}

.foxyeti-usernote {
    width: 600px;
    height: 17px;
    margin-bottom: 4px;
    resize: vertical;
}

.foxyeti-upload-drag {
    border: 2px dashed rgb(134, 134, 134);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: rgb(134, 134, 134);;
    min-height: 150px;
    margin: 0px 5px;
    margin-bottom: 5px;
}

.foxyeti-upload-drag > p {
    font-size: 50px;
    margin: 0px auto;
    text-align: center;
    padding-top: 15px;
    user-select: none;
}

.foxyeti-tc-user::after {
    content: " | TC ";
}

.foxyeti-subtitle-wrapper {
    width: 100%;
    max-width: 95vw;
    position: fixed;
    bottom: 10px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

p.foxyeti-subtitle-line {
    background-color: #000;
    color: #fff;
    margin: 5px auto;
    padding: 5px;
    width: fit-content;
    font-size: 75px;
}